{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["prettier", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12
  },
  "rules": {
    "no-console": 0,
    "prettier/prettier": 0
  }
}
